Cloner le repositoire, il faut installer les dépendances : pip install -r requirements.txt

#contenu du fichier requirements.txt
streamlit
pandas
numpy
matplotlib
seaborn
plotly
requests
beautifulsoup4
unidecode
nltk
wordcloud
scikit-learn